.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dfdf;
  color: #0d0d0d;
  overflow: hidden;

  h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.125;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .modelContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .header1,
  .header2 {
    display: flex;
    align-items: center;
    padding: 0 2rem;

    h1 {
      width: 100%;
      font-size: 15vw;
      line-height: 1.25;
      letter-spacing: -0.02em;

      .char {
        display: inline-block;
        overflow: hidden;

        > span {
          position: relative;
          display: block;
          transform: translateY(100%);
          will-change: transform;
        }
      }
    }
  }

  .header1 {
    position: relative;
    width: 200vw;
    height: 100vh;
    transform: translateX(0%);
  }

  .header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100svh;
    color: #e0dfdf;
    transform: translateX(100%);
    z-index: 2;
  }

  .circularMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    clip-path: circle(0% at 50% 50%);
  }

  .toolTips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    display: flex;
    gap: 15rem;

    .toolTip {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: #e0dfdf;

      .icon {
        font-size: 2.5rem;
        overflow: hidden;

        svg {
          position: relative;
          display: block;
          transform: translateY(100%);
          will-change: transform;
        }
      }

      .title {
        .line {
          display: inline-block;
          overflow: hidden;

          > span {
            position: relative;
            display: block;
            transform: translateY(100%);
            will-change: transform;
          }
        }
      }

      .description {
        color: #5f5f5f;

        .line {
          display: inline-block;
          overflow: hidden;

          > span {
            position: relative;
            display: block;
            transform: translateY(100%);
            will-change: transform;
          }
        }
      }

      .divider {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #5f5f5f;
        margin: 0.5rem 0;
        transform: scaleX(0);
      }

      &:nth-child(2) {
        justify-content: flex-end;
        align-items: flex-end;

        .icon,
        .title,
        .description {
          width: 70%;
        }

        .divider {
          transform-origin: left center;
        }
      }

      &:nth-child(1) .divider {
        transform-origin: right center;
      }
    }
  }
}

@media (max-width: 1000px) {
  .landing {
    h1 {
      text-align: center;
      font-size: 2rem;
    }

    h2,
    .toolTip .icon {
      font-size: 1.5rem;
    }

    .toolTips {
      width: 100%;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      .toolTip {
        width: 85%;

        .divider {
          width: 70%;
        }

        &:nth-child(2) {
          justify-content: flex-start;
          align-items: flex-start;

          .icon,
          .title {
            width: 100%;
          }

          .divider {
            transform-origin: right center;
          }
        }
      }
    }
  }
}